@model TaskTracker.Models.UserTask
@using TaskTracker.ViewModels

@{
  ViewData["Title"] = "Edit";

  var viewModel = new TaskFormViewModal
      {
        Action = "Edit",
        ButtonText = "Apply Changes",
        FormId = "editForm",
        UserTask = Model
      };
}

<h1>Edit</h1>

<h4>UserTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
      @await Html.PartialAsync("_Form", viewModel)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
